<!DOCTYPE html>
<html lang="en">
<head>
	{{{_sections.shaders}}}
	<meta charset="UTF-8"/>
	<title>Demo</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
	{{{_sections.headers}}}

</head>

{{{body}}}

<body>
	{{{_sections.scripts}}}
</body>
</html>

