/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  font-size: 62.5%; }

body {
  font-size: 1em;
  font-family: Arial; }

@font-face {
  font-family: 'andale_monoregular';
  src: url('../fonts/andale_mono-webfont.eot');
  src: url('../fonts/andale_mono-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/andale_mono-webfont.woff2') format('woff2'), url('../fonts/andale_mono-webfont.woff') format('woff'), url('../fonts/andale_mono-webfont.ttf') format('truetype'), url('../fonts/andale_mono-webfont.svg#andale_monoregular') format('svg');
  font-weight: normal;
  font-style: normal; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  background-color: #000;
  color: #fff;
  font-family: 'andale_monoregular';
  text-transform: uppercase;
  width: 100%;
  overflow: hidden; }

.hide {
  display: none; }

#mobile-controls {
  width: 80%;
  height: 160px;
  margin: 15px 10%;
  overflow: scroll; }
  #mobile-controls #object-swiper {
    width: 100%;
    height: 100%;
    overflow: scroll; }
    #mobile-controls #object-swiper .object-option {
      height: 100%;
      margin: 0 0 1px;
      background-color: #000; }
      #mobile-controls #object-swiper .object-option .selecter {
        overflow: hidden;
        display: inline-block;
        width: 30%;
        height: 100%;
        border: 1px solid #0ff;
        margin: 0;
        padding: 0;
        vertical-align: top
        /* here */ }
        #mobile-controls #object-swiper .object-option .selecter p {
          margin: 50% 0 0; }
      #mobile-controls #object-swiper .object-option .color-swiper {
        display: inline-block;
        height: 100%;
        width: 70%;
        overflow: scroll;
        margin: 0; }
        #mobile-controls #object-swiper .object-option .color-swiper .color-option {
          height: 100%; }
    #mobile-controls #object-swiper .object-option.last {
      margin: 0 0 -5px 0; }
      #mobile-controls #object-swiper .object-option.last .color-swiper {
        margin: 0 0 -5px 0; }

#bg {
  position: absolute;
  background-image: url('../images/abstract.gif');
  background-repeat: no-repeat;
  left: -340px;
  top: -400px;
  width: 723px;
  height: 653px;
  z-index: 0; }

#container {
  height: 200px;
  width: 50%;
  margin: 200px auto 0;
  position: relative;
  z-index: 1;
  text-align: center;
  font-size: 1.8em; }

#not-connected {
  margin: 0 0 121px;
  padding: 40px 0 0; }

.or-margin {
  display: inline-block;
  margin: 40px 0; }

.link {
  display: inline-block;
  margin: 15px;
  color: #fff;
  text-decoration: underline; }

.btn {
  margin: 15px;
  display: block;
  padding: 22px 0;
  color: #fff;
  border: 1px solid #02ded7;
  background-color: #000; }

.desktop footer {
  display: block;
  width: 100%;
  position: absolute;
  height: 59px;
  bottom: 0;
  background-image: url('../images/footer.gif'); }
.desktop #controls {
  padding: 10px;
  width: 150px;
  position: absolute;
  right: 20px;
  top: 20px;
  background-color: rgba(0, 0, 0, 0.5); }
  .desktop #controls input {
    width: 125px; }
.desktop #controls > header {
  text-decoration: underline;
  margin: 0 0 10px; }

.mobile #bg1 {
  position: absolute;
  background-image: url('../images/abstract.gif');
  background-size: 100%;
  background-repeat: no-repeat;
  left: -160px;
  top: -130px;
  width: 300px;
  height: 300px;
  z-index: 0; }
.mobile #bg2 {
  position: absolute;
  background-image: url('../images/abstract.gif');
  background-size: 360px 360px;
  background-repeat: no-repeat;
  right: 0;
  bottom: 0;
  width: 220px;
  height: 70px;
  z-index: 0; }

@media screen and (max-width: 800px) {
  .mobile #container {
    margin-top: 20px;
    color: #02ded7;
    width: 95%; }
  .mobile img {
    display: block;
    width: 74.5px;
    height: 43px;
    margin: -10px auto 25px; }
  .mobile p {
    margin: 0 0 50px; }
  .mobile .no-margin {
    margin: 0; }
  .mobile #txtId, .mobile #btnSubmit, .mobile #btnReset, .mobile #btnStart {
    height: 45px;
    background-color: #000;
    margin: 15px 3px 0 0;
    display: inline-block;
    padding: 15px;
    color: #fff;
    border: 1px solid #02ded7; }
  .mobile #btnSubmit, .mobile #btnReset, .mobile #btnStart {
    background: none; }
  .mobile #btnStart {
    margin: 0 0 15px; } }

@media screen and (max-width: 500px) {
  .mobile #container {
    margin-top: 150px; } }
